.header {
  background: #fff;

  h1 {
    font-weight: $bold;
    font-size: 2rem;
  }
}

.btn{
  width: 150px;
  align-items: center;
  justify-content: space-evenly;
  font-weight: $semi-bold !important;
  &__icon{
    width: 20px;
  }
}
