.filter{
  padding: 0.8rem 2rem !important;
  font-weight: $semi-bold !important;
  padding-bottom: 0.8rem !important;
  width: 18rem !important;
  // text-align-last:center;
  // -moz-text-align-last: center;

}
