$nunito: 'Nunito Sans', sans-serif;
$DarkBlue: hsl(209, 23%, 22%);
$VeryDarkBlue: hsl(207, 26%, 17%);
$LightModeText: hsl(200, 15%, 8%);
$DarkLightModeInput: hsl(0, 0%, 52%);
$lightBg: hsl(0, 0%, 98%);
$white: #fff;
$light: 300;
$semi-bold: 600;
$bold: 800;
