/* You can add global styles to this file, and also import other style files */
@import 'utilities/variables';
@import 'base/reset';
@import 'layout/header';
@import 'components/search';
@import 'components/filters';
@import 'components/cards';
@import 'components/spinner';
@import 'pages/show-country';
@import 'theme/dark';


body {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: $nunito !important;
  background-color: $lightBg;
}

main{
  padding-top: 130px;
  height:100%;
}

